<!DOCTYPE html>
<html>
<head>
  <title>Welcome to BeerGo</title>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">BeerGo</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/beers/new">Add Beer</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    
  </footer>
</body>
</html>
