

<% @beers.each do |beer| %>
<p><a href='/beers/<%=beer.id%>'><%= beer.brand %></a></p>
<img src='<%= beer.photo_url %>'>

<form method="post" action="beers/<%=beer.id %>/delete">
  <button>Delete</button>

  </form>
<% end %>