<form action="/beers" method="post">
  
  <input type="text" placeholder="Enter brand" name = "beer[brand]">
  <input type="text" placeholder="Cost" name = "beer[price]">
  <input type="text" placeholder="Photo URL" name = "beer[photo_url">
  <input type="text" placeholder="Notes" name="beer[notes]">
  <input type="submit" value="Create">
</form>